@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100vw;
    height: 100vh;
    font-size: 60%;
    color:black;
    font-family: 'Roboto', sans-serif;
}

body {
    background: linear-gradient(rgba(20,20,20,0.6),rgba(20,20,20,1)), url(/img/img2.jpg);
    background-position: center center;
    background-size: cover;
    background-position-y: 0px;
    background-repeat: no-repeat;
}